# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Section.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Lgbus\RiderProjects\Section\.idea\.idea.Section\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
